.SoundButton {
    flex: 1 0 auto;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SoundButton > .Spinner {
    flex: 0 1 auto;
    position: absolute;
}
